// Set your brand colors
$raisin-black: #2E282A
$flame: #E4572E
$maximum-blue-green: #17BEBB
$sunglow: #FFC914
$green-ryb: #76B041
$dark-purple: #1E152A
$erie-black: #1D201F

// Update Bulma's global variables
$body-background-color: $erie-black
$danger: $flame
$warning: $sunglow
$primary: $dark-purple
$success: $green-ryb


$navbar-background-color: transparent

@import "bulma/bulma"
